@font-face {
  font-family: 'supria-sans-heavy';
  src: local('supria-sans-heavy'),
    url(./fonts/supria-sans-heavy.otf) format('opentype');
}

html,
body {
  background: #d3d3d3;
}

.App {
  background: #d3d3d3;
  text-align: center;
}

header {
  background: #4254f4;
  padding: 5px 0;

  a,
  a:active,
  a:visited {
    color: #fff;
  }

  a:first-of-type {
    margin-right: 24px;
  }
}

form,
table,
section {
  background: #fff;
}

#selection-area {
  background: #fff;
}

td {
  .img-fluid {
    max-width: 300px;
    width: 100%;
  }
}

form,
section {
  padding: 5px;
}

h2 {
  color: #fff;
  font-family: 'supria-sans-heavy';
}

th:first-of-type {
  width: 40%;
}
